/* General */
*{
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-primary: #F09631;
    --color-secondary: #333333;
    /* --color-tertiary: #0D0606; */
    --color-background: #171721; /* #1C1C1C */
    --color-white: #FFFFFF;
    --color-light-gray: #F5F5F5;
    --color-light-gray: #D3D3D3;
    --color-dark-gray: #2C2C3C;

    --midnight-blue: #131F3C; /* #0B132B */

    /* Fonts */
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    /* background-color: var(--midnight-blue); */
    background-color: var(--color-background);
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    color: var(--color-white);
    /* background-color: var(--midnight-blue); */
}

/* Header */
.header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--color-primary);
    z-index: 5;
}
.header-menu-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-white);
}
.header-menu-list-container {
    position: absolute;
    /* position : fixed; */
    top: 4rem;
    background-color: rgba(0, 0, 0, 0.9);
    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 96vh;
    overflow-y: scroll;
    right: 0;
    margin: 0;
    padding: 0rem 0 2rem 0;
    z-index: 1;
    
    font-size: 1.25rem;
    /* animation: scale-up-vertical-top 0.2s linear; */
}
.header-menu-divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}
.header-menu-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
}
.header-title {
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    font-size: 1.5rem; /* 24px */
    height: 2rem;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}
.header-favorites {
    font-size: 1.5rem;
}


/* Search */
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0px 1.5rem;
    padding: 0 1.5rem;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-form-input {
    height: 3rem;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 1rem;
    border-style: none;
    font-size: 1rem; /* 16px */
    color: var(--color-white);
    background-color: var(--color-dark-gray);
}
.search-form button {
    height: 3rem;
    width: 3rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: none;
    background-color: var(--color-primary);
    cursor: pointer;
}

/* Genres preview */
.genres-preview-container {
    margin: 0.5rem;
    padding: 1rem;
}
.genres-preview-title {
    margin: 0;
}
.genres-preview-list {
    align-self: start;
    margin-top: 20px;
    width: 100%;
}
/* Genre */
.genres-list {
    align-self: start;
    margin: 0 1rem;
}
/* .genres-list-title {
    margin: 1rem 0;
} */
.genres-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 15px;
    white-space: nowrap;
    width: 100%;
}
.genre-title {
    background-color: var(--color-dark-gray);
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 8px 16px;
    margin: 0;
    transition: color .3s ease,background-color .3s ease;
}

/* Trending Slider */
.trending-slider-container {
    /* padding: 2rem 0 2rem 0; */
    max-width: 768px;
    padding: 1rem 0 1rem 0;
}
/* .movies {
    padding: 50px 0 150px 0;
} */
.swiper {
    width: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
/* .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 10;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.5rem;
    color: var(--color-white);
} */

@media screen and (min-width: 768px) {
    /* body {
        min-height: 0vh;
    } */
    .trending-slider-container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 0 1rem 0;
    }
    
}


/* Trending */
.trending-preview-container,
.popular-container,
.top-rated-container, 
.upcoming-container {
    margin: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}
.trending-preview-header,
.favorites-header,
.favorites-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 1rem 1.5rem;
}
.trending-preview-header .trending-preview-title {
    /* margin: 0 0 1rem 1.5rem; */
    margin: 0;
}
.trending-preview-header .trending-preview-view-all,
.favorites-view-all {
    font-size: 1rem;
    color: gray;
    cursor: pointer;
}
.trending-preview-movie-list,
.popular-list,
.top-rated-list,
.favorites-list,
.upcoming-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    /* width: 100%;
    height: 100%; */
}
.trending-preview-movie-list .movie-card,
.popular-list .movie-card,
.top-rated-list .movie-card,
.upcoming-list .movie-card,
.favorites-list .movie-card {
    margin: 0 1rem 0 0;
    padding: 0;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

/* Movie detail */
.movie-detail-img-container {
    position: relative;
    overflow: hidden;
}
.movie-detail-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, transparent 70%, var(--color-background));
}
.arrow-back-container {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem; 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.arrow-back {
    width: 2.25rem;
    height: 2.25rem;
}
.movie-detail-img-container img {
    width: 100%;
    height: 70vh;
    /* opacity: 0.8; */
    object-fit: cover;
    object-position: center;
    border-radius: 1rem ;
}
.movie-favorite-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}
.movie-favorite-button {
    font-size: 1.5rem;
}
.movie-favorite-button::before {
    content: '🤍';
}
.movie-favorite-button--active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: background-color 0.5s;
}
.movie-favorite-button--active::before {
    content: '❤️';
}
.movie-detail-info-container {
    margin: 0;
    padding: 1rem;
}
.movie-detail-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    font-size: 1.5rem; /* 24px */
    margin: 0;
    /* color: #F09631; */
}
.movie-detail-release-runtime-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #D3D3D3;
}
.movie-detail-release-date {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 1rem;
    padding: 0;
}
.movie-detail-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
    padding: 0;
}
.movie-detail-overview {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Related movies */
.related-movies-container {
    padding: 1rem;
    margin: 0 0 2rem 0;
    overflow-x: scroll; /* Add horizontal scrollbar */
    white-space: nowrap; /* Prevents the content to wrap */
}
.related-movies-list {
    display: inline-flex; /* Displays the movies in a row */
    flex-direction: row;
    gap: 10px; /* Space between movies */
}


/* Footer */
.footer-container {
    position: relative;
    /* width: 100%; */
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    border-top: 1px solid var(--color-primary);
}
.footer-container p {
    font-size: 1rem;
    color: var(--color-white);
}

/* Generic */
.generic-movie-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 0;
}
.generic-movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between movies */
}
.movie-card {
    flex-basis: calc(50% - 20px); /* 50% is the width of the card, 20px is the gap between cards */
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin: auto;
    text-decoration: none;
    color: var(--color-white);
    /* opacity: .9; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.2s ease;
    position: relative;
}
.movie-card:hover {
    transform: scale(1.05);
}
.movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 1rem;

    opacity: 0; /* Set the opacity to 0 by default to fade in the image */
    transition: opacity 0.5s; /* Add transition for the opacity property */
}
.movie-fav-btn{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
}
.movie-fav-btn::before {
    content: '🤍';
    font-size: 1.25rem;
}
.movie-fav-btn--active {
    transition: background-color 0.5s;
    background-color: var(--color-secondary);
}
.movie-fav-btn--active::before {
    content: '❤️';
    font-size: 1.25rem;
}
.movie-title {
    font-size: 1rem; /* 16px */
    margin: 0.5rem 0 ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Shared */
/* .movie-container {
    cursor: pointer;
} */
.search-results-container, 
.generic-container {
    padding: 1.5rem;
}
.favorites-container {
    margin: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
}
.favorites-list-item-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 1rem;
}
.movie-card--loading {
    animation: loading-skeleton infinite 1.5s;
}
.movie-card--loading:nth-child(2) {
    animation-delay: 0.2s;
}
.movie-card--loading:nth-child(3) {
    animation-delay: 0.4s;
}
.movie-img--loading {
    background: #333;
    border-radius: 1rem;
    width: 150px;
    height: 225px;
    min-width: 150px;
    min-height: 225px;
    max-width: 150px;
    max-height: 225px;
}
.movie-title--loading {
    background: #333;
    border-radius: 7px;
    width: 100%;
    height: 1rem;
    margin: 0.5rem 0;
}
.fade-in {
    /* transition: opacity 0.5s; */ /* time to fade in/out */
    opacity: 1;
}

/* Show/Hide */
.inactive{
    display: none;
}


/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

.jello-horizontal {
    animation: jello-horizontal 0.5s linear both;
}
@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.scale-up-vertical-top {
    animation: scale-up-vertical-top 0.2s linear
}
@keyframes scale-up-vertical-top {
    0% {
        transform: scaleY(.4);
        transform-origin: center top
    }

    100% {
        transform: scaleY(1);
        transform-origin: center top
    }
}

/* .scale-down-vertical-top {
    animation: scale-down-vertical-top 0.4s
}

@keyframes scale-down-vertical-top {
    0% {
        transform: scaleY(1);
        transform-origin: center top
    }

    100% {
        transform: scaleY(.3);
        transform-origin: center top
    }
} */