/* General */
*{
    box-sizing: border-box;
}

:root {
    --tangerine: #F09631; /* #F2A365 */
    --midnight-blue: #131F3C; /* #0B132B */
    --black: #0D0606;
    --eerie-black : #171721; /* #1C1C1C */
    --white: #FFFFFF;
    --light-gray: #F5F5F5;
    --charcoal: #2C2C3C; /* #333333 */
    --crimson: #DC143C;
    --vivid-crimson: #C0030A;
    /* --vivid-crimson: #E32636; */
    --Red: #E11A38;


    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background-color: var(--midnight-blue);
    background-color: var(--eerie-black);
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    color: var(--white);
    /* background-color: var(--midnight-blue); */
}

/* Header */
.header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    /* black blur */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid var(--tangerine);
    z-index: 1;
}
.header-menu-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--light-gray);
}
.header-menu-list-container {
    position : fixed;
    background-color: var(--eerie-black);
    width: 100%;
    height: 100vh; /* Esto establece la altura al 100% de la ventana */
    overflow-y: hidden; /* Oculta el scrollbar vertical */
    right: 0;
    margin: 0;
    padding: 20px 0;
    z-index: 1;
    
    font-size: 1.25rem
}
.header-menu-divider {
    width: 100%;
    height: 1px;
    background-color: var(--tangerine);
    margin: 0;
    padding: 0;
}
.header-menu-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 1rem;
    margin: 0;
}
.header-title {
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    font-size: 1.5rem; /* 24px */
    height: 2rem;
    color: var(--tangerine);
    /* color: var(--crimson); */
    margin: 0;
    padding: 0;
}
.header-favorites {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}


/* Search */
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1rem 0;
    padding: 0 1.5rem;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-form input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 1rem;
    border-style: none;
}
.search-form button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: none;
    background-color: var(--tangerine);
    /* background-color: var(--vivid-crimson); */
}

/* Genres preview */
.genres-preview-container {
    margin: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}
.genres-preview-title {
    margin: 0;
}
.genres-preview-list {
    align-self: start;
    margin-top: 20px;
    width: 100%;
}
/* Genre */
.genres-list {
    align-self: start;
    margin: 0 1rem;
}
.genres-list-title {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    margin: 1rem 0;
}
.genres-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 15px;
    white-space: nowrap;
    width: 100%;
}
.genre-title {
    margin: 0 0 2rem 0;
    background-color: #333;
    border: none;
    border-radius: 7px;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    font-size: 1rem; /* 16px */
    padding: 8px 16px;
    transition: color .3s ease,background-color .3s ease;
    margin: 0;
}


/* Trending */
.trending-preview-container,
.popular-container,
.top-rated-container, 
.upcoming-container {
    margin: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}
.trending-preview-header,
.favorites-header,
.favorites-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /* padding: 1rem 0 0 0; */
}
.trending-preview-header .trending-preview-title {
    /* font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    font-size: 1.25rem;
    color: var(--white); */
    margin: 0;
}
.trending-preview-header .trending-preview-view-all,
.favorites-view-all {
    margin: 0 0.5rem;
    color: gray;
}
.trending-preview-movie-list,
.popular-list,
.top-rated-list,
.favorites-list,
.upcoming-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 1rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.trending-preview-movie-list .movie-card,
.popular-list .movie-card,
.top-rated-list .movie-card,
.upcoming-list .movie-card,
.favorites-list .movie-card {
    margin: 0 1rem 0 0;
    padding: 0;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

/* Movie detail */
.movie-detail-img-container {
    position: relative;
    /* width: 100%;
    height: 70vh; */
    overflow: hidden;
}
.movie-detail-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)); */
    /* background: linear-gradient(to bottom, transparent, transparent 70%, var(--midnight-blue)); */
    background: linear-gradient(to bottom, transparent, transparent 70%, var(--eerie-black));
}
.arrow-back-container {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem; 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.arrow-back {
    width: 2.25rem;
    height: 2.25rem;
}
.movie-detail-img-container img {
    width: 100%;
    height: 70vh;
    opacity: 0.8;
}
.movie-favorite-container {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.movie-favorite-button {
    /* width: 1.75rem;
    height: 1.75rem; */
    font-size: 1.5rem;
}
.movie-favorite-button::before {
    content: '🤍';
}
.movie-favorite-button--active {
    transition: background-color 0.5s;
    /* background-color: var(--charcoal); */
}
.movie-favorite-button--active::before {
    content: '❤️';
}
.movie-detail-info-container {
    margin: 0;
    padding: 1rem;
}
.movie-detail-title {
    /* font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    font-size: 1.5rem;
    margin: 0;
    padding: 0; */

    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    font-size: 1.5rem; /* 24px */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.movie-detail-release-runtime-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 1rem 0; */
    /* margin: 0 0 1rem 0; */
    padding: 0;
}
.movie-detail-release-date {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 1rem;
    /* margin: 1rem 0; */
    padding: 0;
}
.movie-detail-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2);
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
    padding: 0;
}
.movie-detail-overview {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Related movies */
.related-movies-container {
    padding: 1rem;
    overflow-x: scroll; /* Agrega desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}
.related-movies-list {
    display: inline-flex; /* Muestra los elementos en una fila horizontal */
    flex-direction: row;
    gap: 10px; /* Espacio entre las imágenes de las películas */
}


/* Search */
.search-results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between movies */
}

/* Footer */
.footer-container {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(100px); */
}
.footer-container p {
    font-size: 1rem;
    color: var(--white);
}

/* Generic */
.generic-movie-title {
    margin: 0 0 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.generic-movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between movies */
    /* max-width: 100%; */
    /* height: auto;
    border-radius: 1rem; */
}
.movie-card {
    flex-basis: calc(50% - 20px); /* 50% is the width of the card, 20px is the gap between cards */
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin: auto;
    text-decoration: none;
    color: var(--white);
    /* opacity: .9; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.2s ease;
    position: relative;
}
.movie-card:hover {
    transform: scale(1.05);
}
.movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 1rem;
    /* max-width: 100%;
    height: auto; */

    opacity: 0; /* Inicialmente, establece la opacidad en 0 para ocultar la imagen */
    transition: opacity 0.5s; /* Agrega una transición suave de 0.5 segundos para la opacidad */
}
.movie-fav-btn{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
}
.movie-fav-btn::before {
    content: '🤍';
    font-size: 1.25rem;
}
.movie-fav-btn--active {
    transition: background-color 0.5s;
    background-color: var(--charcoal);
}
.movie-fav-btn--active::before {
    content: '❤️';
    font-size: 1.25rem;
}
.movie-title {
    /* font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title2); */
    font-size: 1rem; /* 16px */
    /* color: var(--white); */
    margin: 0.5rem 0 ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Shared */
/* .movie-container {
    cursor: pointer;
} */
.search-results-container, 
.generic-container {
    padding: 1.5rem;
}
.favorites-container {
    margin: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
}
.favorites-list-item-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 1rem;
}
.movie-card--loading {
    animation: loading-skeleton infinite 1.5s;
}
.movie-card--loading:nth-child(2) {
    animation-delay: 0.2s;
}
.movie-card--loading:nth-child(3) {
    animation-delay: 0.4s;
}
.movie-img--loading {
    background: #333;
    border-radius: 1rem;
    width: 150px;
    height: 225px;
    min-width: 150px;
    min-height: 225px;
    max-width: 150px;
    max-height: 225px;
}
.movie-title--loading {
    background: #333;
    border-radius: 7px;
    width: 100%;
    height: 1rem;
    margin: 0.5rem 0;
}
.fade-in {
    /* transition: opacity 0.5s; */ /* time to fade in/out */
    opacity: 1;
}

/* Show/Hide */
.inactive{
    display: none;
}


/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

.jello-horizontal {
    animation: jello-horizontal 0.5s linear both;
}
@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.scale-up-vertical-top {
    animation: scale-up-vertical-top 0.2s linear
}
@keyframes scale-up-vertical-top {
    0% {
        transform: scaleY(.4);
        transform-origin: center top
    }

    100% {
        transform: scaleY(1);
        transform-origin: center top
    }
}

/* Pending!!!! */